{% extends "/base/default-page.html" %}
{% import "/components/message.html" as message_renderer %}
{% import "/components/quick-reply.html" as quick_reply %}

{% block content %}
  <div class="ui raised padded secondary fitted segment">
    <div class="ui hidden divider"></div>
    <div class="ui basic segment">
      <div class="ui feed">
        {% for message in chat.messages %}
          {% if message.sender == "bot" %}
            {{ message_renderer.BotMessage(message, current_user, is_openning) }}
          {% else %}
            {{ message_renderer.UserMessage(message, current_user) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="ui fluid segment">
      {% if chat.current_state == 'price' %}
        {{ quick_reply.Price() }}
      {% elif chat.current_state == 'time' %}
        {{ quick_reply.Time() }}
      {% else %}
        {{ quick_reply.Recommandation() }}
        <div class="ui dropdown pointing scrolling" id="list-type">
          <a class="ui primary icon circular label basic" 
            style="cursor: pointer !important"
            onmouseover="this.style = 'background-color: #2185D0; color: white'; " 
            onmouseleave="this.style = 'background-color: none; color: #2185D0'; ">
            <p><b>Select Type</b> &ensp; <i class="list-type list icon"></i></p>
            <!-- List restaurants by selected type  -->
          </a>
          <div class="menu">
            <div class="header">
              List Restaurant by Type
            </div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search restaurant type...">
            </div>
            {% for type in RESTAURANT_TYPE %}
              <a class="item" onclick="input = $('#input')[0]; input.value += '{{ type }} '; input.focus()">{{ type }}</a>
            {% endfor %}
          </div>
        </div>
        &ensp;

        <div class="ui dropdown bottom pointing" id="list-price">
          <a class="ui primary icon circular label basic" 
            style="cursor: pointer !important"
            onmouseover="this.style = 'background-color: #2185D0; color: white'; " 
            onmouseleave="this.style = 'background-color: none; color: #2185D0'; ">
            <p><b>Select Price</b> &ensp; <i class="list-price list icon"></i></p>
            <!-- List prices range for restaurants  -->
          </a>
          <div class="menu">
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Low Price '; input.focus()">Low Price</a>
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Medium Price '; input.focus()">Medium Price</a>
              <a class="item" onclick="input = $('#input')[0]; input.value += 'High Price '; input.focus()">High Price</a>
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Anyprice '; input.focus()">Anyprice</a>
          </div>
        </div>
        &ensp;

        <div class="ui dropdown bottom pointing" id="list-time">
          <a class="ui primary icon circular label basic" 
            style="cursor: pointer !important"
            onmouseover="this.style = 'background-color: #2185D0; color: white'; " 
            onmouseleave="this.style = 'background-color: none; color: #2185D0'; ">
            <p><b>Select Time</b> &ensp; <i class="list-time list icon"></i></p>
            <!-- List time that you want to go -->
          </a>
          <div class="menu">
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Anytime '; input.focus()">Anytime</a>
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Now '; input.focus()">Now</a>
              <a class="item" onclick="input = $('#input')[0]; input.value += 'Choose time '; input.focus()">Choose time</a>
          </div>
        </div>
        &ensp;
      {% endif %}
      {{ quick_reply.Reset() }}
      <!-- INPUT START -->
      <div class="ui info message center aligned">
        <form method="GET" action="{{ url_for('dashboard.submit_message') }}">
          <div class="ui fluid transparent input">
            <input type="text" name="input" id="input" placeholder="Send a message">
            <button class="ui primary icon button">
              Submit
              <i class="send icon"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- END INPUT -->
    </div>
  </div>
  {% include "/components/back-to-top.html" %}
{% endblock %}

{% block additional_js %}
  <script>
    window.top.location.href = "#input"
    $('.ui.dropdown').dropdown()
  </script>
  {% if chat.messages | length > 2 %}
    <script>
      // <!-- MOCK LOADING BOT RESPONSE MESSAGE -->
      bot_response = document.getElementById("{{ chat.messages[-1].uid }}").style.display = "none";
      setTimeout(function() {
        bot_response = document.getElementById("{{ chat.messages[-1].uid }}");
        bot_response.style.display = "none";
        $(bot_response).transition('fade up');
        window.scrollTo(0, ScreenHeight);
      },200);
    </script>
  {% endif %}
{% endblock %}
