{% extends "/base/default-page.html" %}
{% import "/components/message.html" as message_renderer %}

{% block content %}
  <div class="ui raised padded secondary fitted segment">
    <div class="ui hidden divider"></div>
    <div class="ui basic segment">
      <div class="ui feed">
        {% for message in chat.messages %}
          {% if message.sender == "bot" %}
            {{ message_renderer.BotMessage(message, current_user, is_openning) }}
          {% else %}
            {{ message_renderer.UserMessage(message, current_user) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="ui fluid segment">
      <!-- Quick Reply #List By Preferred -->
      <a class="ui floating info small compact message" 
        onmouseover="this.style = 'background-color: #276F86; color: white'; $('.recommand.send.icon')[0].style.display = 'inline'" 
        onmouseleave="this.style = 'background-color: none; color: #276F86'; $('.recommand.send.icon')[0].style.display = 'none'"
        href="{{ url_for('dashboard.submit_message', input='Recommand restaurant for me') }}" >
        <p><b>Recommand restaurant for me</b> &ensp; <i class="recommand send icon" style="display: none"></i></p>
        List preferred restaurants currently open
      </a>
      &ensp;
      <!-- Quick Reply #List By Type -->
      <div class="ui pointing scrolling dropdown">
        <a class="ui floating info small compact message" 
          onmouseover="this.style = 'background-color: #276F86; color: white'; $('.list-type.list.icon')[0].style.display = 'inline'" 
          onmouseleave="this.style = 'background-color: none; color: #276F86'; $('.list-type.list.icon')[0].style.display = 'none'">
          <p><b>Give me (type) restaurant</b> &ensp; <i class="list-type list icon" style="display: none"></i></p>
          List restaurants by selected type 
        </a>
        <div class="menu">
          <div class="header">
            List Restaurant by Type
          </div>
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search restaurant type...">
          </div>
          {% for type in RESTAURANT_TYPE %}
            <a class="item" href="/submit_message?input=Give me {{ type }} restaurant">{{ type }}</a>
          {% endfor %}
        </div>
      </div>
      &ensp;
      {% if chat.current_state not in ["type", "completed"] %}
        <!-- Quick Reply #Reset -->
        <a class="ui floating info small compact message" 
        onmouseover="this.style = 'background-color: #276F86; color: white'; $('.reset.send.icon')[0].style.display = 'inline'" 
        onmouseleave="this.style = 'background-color: none; color: #276F86'; $('.reset.send.icon')[0].style.display = 'none'" 
          href="{{ url_for('dashboard.submit_message', input='Reset') }}" >
          <p><b>Reset</b> &ensp; <i class="reset send icon" style="display: none"></i></p>
          Start talk from beginning
        </a>
        &ensp;
      {% endif %}
      <div class="ui info message center aligned">
        <form method="GET" action="{{ url_for('dashboard.submit_message') }}">
          <div class="ui fluid transparent input">
            <input type="text" name="input" id="input" placeholder="Send a message">
            <button class="ui primary icon button">
              Submit
              <i class="send icon"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% include "/components/back-to-top.html" %}
{% endblock %}

{% block additional_js %}
  <script>
    // <!-- MOCK LOADING USER MESSAGE -->
    window.top.location.href = "#input";
    user_input = document.getElementById("{{ chat.messages[-2].uid }}").style.display = "none";
    setTimeout(function() {
      user_input = document.getElementById("{{ chat.messages[-2].uid }}");
      user_input.style.display = "none";
      $(user_input).transition('fade up');
      window.scrollTo(0, ScreenHeight);
    },100);
    // <!-- MOCK LOADING BOT RESPONSE MESSAGE -->
    bot_response = document.getElementById("{{ chat.messages[-1].uid }}").style.display = "none";
    setTimeout(function() {
      bot_response = document.getElementById("{{ chat.messages[-1].uid }}");
      bot_response.style.display = "none";
      $(bot_response).transition('fade up');
      window.scrollTo(0, ScreenHeight);
    },1000);
  </script>
  <script>
    $('.ui.dropdown').dropdown()
  </script>
{% endblock %}
