{% extends "/base/default-page.html" %}
{% import "/base/html-renderer.html" as renderer %}

{% block title %}
  Poodtam | Edit Profile
{% endblock %}

{% block content %}
  <div class="ui segment">
    <h1>Edit Profile</h1>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_field(form.name) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_field(form.email) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_fileinput(form.pic) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_multiple_search_select(form.preferred_types) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_multiple_search_select(form.preferred_prices) }}
      </div>
      <p></p>
      <button type="submit" class="ui primary button"><i class="save icon"></i>Save</button> <a href="{{ url_for('dashboard.index') }}" class="ui button">Cancel</a>
    </form>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="ui toast green">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
      $('.ui.toast').toast({position: 'top center', displayTime: 5000});
      $(".attach-file-pic").click(function() {
        $(this).parent().find("#pic").click();
      });
      $('#pic')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-pic', $(e.target).parent()).val(name);
      });
    </script>
{% endblock additional_js %}
