{% extends "/base/default-page.html" %}
{% import "/base/html-renderer.html" as renderer %}

{% block content %}
  <div class="ui segment">
    <h1>Register</h1>
    {% if form.errors %}
      <div class="ui error message">
        {% for key, error in form.errors.items() %}
          {{ error[0] }}
        {% endfor %}
      </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="ui error message">
            {% for message in messages %}
                <div class="alert alert-{{ message[1] }}">{{ message }}</div>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form method="POST" class="ui form" enctype="multipart/form-data">
      <div class="form-group" style="margin-bottom: 1em">
        {{ form.csrf_token }}
        {{ renderer.render_field(form.username) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em">
        {{ renderer.render_field(form.password) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em">
        {{ renderer.render_field(form.confirm_password) }}
      </div>
      <div class="ui hidden divider"></div>
      <div class="form-group" style="margin-bottom: 1em">
        {{ renderer.render_field(form.name) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em">
        {{ renderer.render_field(form.email) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_fileinput(form.pic) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_multiple_search_select(form.preferred_types) }}
      </div>
      <div class="form-group" style="margin-bottom: 1em;">
        {{ renderer.render_multiple_search_select(form.preferred_prices) }}
      </div>
      <p></p>
      <button type="submit" class="ui primary button">Register</button> &ensp;
      <span class="ui grey text">Already have an account?</span>&ensp;
      <a href="{{ url_for('accounts.login') }}">Back to Login</a>
    </form>
  </div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
      $(".attach-file-pic").click(function() {
        $(this).parent().find("#pic").click();
      });
      $('#pic')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-pic', $(e.target).parent()).val(name);
      });
    </script>
{% endblock additional_js %}