<div class="ui fluid aligned inverted basic fitted segment" style="padding: 3px;">
  <div class="ui inverted menu">
      <div class="item">
        <i class="cat icon"></i>&ensp;<b>Poodtam Chatbot</b>
      </div>
      <div class="right menu">
        <a class="item">
          <b>Dashboard</b>&ensp;<i class="keyboard icon"></i>
        </a>
        {% if current_user.is_authenticated %}
          <div class="ui inverted dropdown item">
            <b>{{ current_user.name }}</b><i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">
                <i class="setting icon"></i>Settings
              </a>
              <div class="divider"></div>
              <a class="item" href="{{ url_for('accounts.logout') }}">
                <span class="ui inverted red text">
                  <i class="sign out icon"></i>&ensp;Logout
                </span>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
  </div>
</div>

<script>
  $('.ui.dropdown')
    .dropdown()
  ;
</script>